<Html>    
<Head>  
<title>  
Example of make a text B,I,U  
</title>  
</Head>  
<Body>   
<b> [This text is Bold......] </b>  
<I> [This text is Italic......] </I>  
<U> [Duc ngu......] </U>
<b> [is there someong else?] </b>   
</Body>  
</Html>  
